.brand-logo{
	margin-left: 30px;
}
#nav-mobile{
	margin-right: 30px;
}

.tabel{
	margin-top: 50px;
}

#sister{
	margin-top: 120px;
	font-size: 50px;
	text-align: center;
}

.button-row{
	margin-top: 80px;
}

.add-btn{
	margin-left: 700px;
}

#add-modal{
	width: 30%;
}

#edit-modal{
	width: 30%;
}

.row{
	margin-bottom: 0px;
}

#tabel-stok{
	table-layout: fixed;
}

.edit-btn{
	display:none;
	font-size: 12px;
	font-weight: bold;
}

.delete-btn{
	display:none;
	font-size: 12px;
	font-weight: bold;
}