.brand-logo{
	margin-left: 30px;
}
#nav-mobile{
	margin-right: 30px;
}

.tabel{
	margin-top: 50px;
	table-layout: fixed;
}

#sister{
	margin-top: 120px;
	font-size: 50px;
	text-align: center;
}

.row{
	margin-bottom: 0px;
}

.button-row{
	margin-top: 80px;
}

.add-btn{
	margin-left: 700px;
}

.edit-btn{
	display:none;
	font-size: 12px;
	font-weight: bold;
}

.delete-btn{
	display:none;
	font-size: 12px;
	font-weight: bold;
}

/* modal styles*/
#add-modal{
	width: 30%;
}

.tambahkan, .ubah{
	float:right;
}

#edit-modal{
	width: 30%;
}

.ct-series-a .ct-bar {
  /* Colour of your bars */
  stroke: red;
  /* The width of your bars */
  stroke-width: 25px;
}